/*
*{
border: 1px solid red !important;
} */
body{
  font-size: 25px;
  font-family: "Graduate";
  margin: 0;
}

article::before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  transform: translateY(-10vh);
  background: url(Images/me.jpeg) no-repeat center / cover;
  z-index: -1;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.list__icon {
  color: white;
  font-size: 1.5em;
  padding-left: .3em;
}

.list__icon:hover {
  background-color: black;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

.about-title{
  text-align: center;
  padding-bottom: 5px;
}

.about__content {

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-width: 800px;
  /* width: 30em; */
  /* add max with to the site for when it is too wide */
  color: black;
  text-align: center;
  padding: 5px 5px 5px 5px;

}
/* .about-border {
  border-style: dashed;
  border-radius: 5px;
} */




/* .parallax {
  height:70%;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* article::before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  transform: translateY(-10vh);
  background: url("Images/me.jpeg");
  z-index: -1;
} */

section + section {
  margin-top: 40vh;
}

.about {
  padding-top: .1em;
  padding-bottom: .7em;
  background-color: white;
}

/* .parallax--image {
  background-image: url("Images/me.jpeg");
} */

.parallax--footer {
  background-image: url("Images/me.jpeg");
  height:40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.color {
  background-color: #660033;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  overflow: hidden;
  text-align: center;

}


.sect__image {
  max-width:100%;
  max-height:100%;
  cursor: pointer;
  transition: all 1s ease-in;
}
.col-6:hover img{
  transform: scale(1.4);
  transition: all 1s ease-in;
  filter: brightness(.5);
}

.data {
  padding-right: 10px;
}


/*------------------footer-----------------
footer {


background-color:black;


bottom: 0;
}*/
footer {
  height: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:15px;
  font-family: fantasy;
  color: white;
  border-top:1px solid #660033;
  background-color: black;

}


@media only screen and (min-width: 40em){
}
