/*
body{
	background-color: #02acc9;
}

div {
    font-size: 14px;
    font-family: georgia;
    text-align: center;
}
a{
	color: white;
}

nav {
    width: 119px;
		border-color: black;
		float: left;
    padding: 10px 0;
		background-color: black;
		 position: fixed Set the navbar to fixed position
		top: 0; Position the navbar at the top of the page
		left:0;
		width: 100%; Full width
} */

.navbar-inverse {
    background-color: #000;
    border-color: #080808;
}

body {
  background-color: #02acc9;
}
.navbar-brand{
  font-family: Lucida, Monaco, monospace;
}

h1 {
  margin-top:80px;
  color: white;
  font-family: Lato,serif;
  font-size: 100px;
}

h2 {
  color: black;

}

h3 {
  color: white;
  text-align: center;
}

.raw{
  display:inline-block;margin-right:10px;
  display:inline-block;
  color: white;
  font-family: courier, sans-serif;
  font-size: 30px;
}

#team{
  color: green;
}


.raw1{
  display:inline-block;margin-right:10px;
  display:inline-block;
  font-size: 60px;
  color: orange;
}
.dropdown-item{
  background-color: white;
  border-color: black;
}
#navicon{
  position: right;
}


.footer{

  background-color: black;
  color: white;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;

}
